body {
  margin: 0px;
}

header {
  background-color: #093931;
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
  height: 62px;
  a {
    text-decoration: none;
    outline: none;
  }
  .mitad {
    width: 50%;
  }
  .mitad span {
    display: flex;
    height: 100%;
    align-items: center;
    color: #f5d38e;
    font-family: "Cormorant Garamond", serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
  }

  .botones {
    width: 50%;
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  .boton {
    display: flex;
    color: white;
    text-decoration: none;
    outline: none;
    &:hover {
      color: #f5d38e;
    }
    img {
      &:hover {
        color: #f5d38e;
      }
    }
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
  }

  .menu {
    display: none;
  }
}
main {
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 70px;

  .order {
    gap: 40px;
    display: flex;
    flex-direction: row;

    .box {
      box-shadow: 0 0 2px 0 #171a1f1f;
      padding: 30px;

      .cajon_descuento {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 35px;

        .cajon_input {
          width: 70%;
          background-color: #ffffff;
          border: 1px solid #9095a0;
          height: 100%;
          border-radius: 4px;
          display: flex;
          align-items: center;
          padding-left: 5px;

          input {
            border: none;
            background-color: transparent;
            font-family: "Manrope", sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: left;
          }
        }
        button {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          width: 25%;
          height: 100%;
          background-color: #f2c66d;
          color: #6b4a09;
          border: none;
          border-radius: 4px;
          font-family: "Manrope", sans-serif;
          font-size: 14px;
          font-weight: 400;
          line-height: 22px;
          letter-spacing: 0em;
          text-align: left;
        }
      }

      .cupon_aplicado {
        background-color: #fef9ee;
        margin: 5px;
        width: 55px;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 14px;

        span {
          color: #8f640c;
          font-family: "Manrope", sans-serif;
          font-size: 12px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0em;
          text-align: left;
        }
      }

      .total_summary {
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;

        div {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }

        h5 {
          margin: 0;
          color: #e8502e;
          font-family: "Manrope", sans-serif;
          font-size: 14px;
          font-weight: 700;
          line-height: 22px;
          letter-spacing: 0em;
          text-align: right;
        }

        h6 {
          margin: 0;
          color: #171a1f;
          font-family: "Manrope", sans-serif;
          font-size: 12px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0em;
          text-align: left;
        }
      }

      .summary {
        display: flex;
        flex-direction: column;
        gap: 10px;

        div {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }

        h5 {
          margin: 0;
          color: #171a1f;
          font-family: "Manrope", sans-serif;
          font-size: 14px;
          font-weight: 700;
          line-height: 22px;
          letter-spacing: 0em;
          text-align: right;
        }

        h6 {
          margin: 0;
          color: #171a1f;
          font-family: "Manrope", sans-serif;
          font-size: 12px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0em;
          text-align: left;
        }
      }

      .boton_payment {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0d554a;
        color: white;
        border: none;
        border-radius: 22px;
        width: 100%;
        cursor: pointer;
        height: 44px;

        font-family: "Manrope", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;
      }
    }

    .products {
      width: 60%;
      height: 500px;
    }

    .payment {
      width: 25%;
    }

    h2 {
      color: #171a1f;
      font-family: "Cormorant Garamond", serif;
      font-size: 24px;
      font-weight: 700;
      line-height: 36px;
      letter-spacing: 0em;
      text-align: left;
    }

    a {
      color: #379ae6;
      text-decoration: none;
      cursor: pointer;
    }

    div .card_detail {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 20px;

      border: 1px solid #0d554a;
      border-radius: 4px;
      justify-content: space-between;
      background-color: #f8f9fa;
      margin-top: 10px;

      div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
      }
    }
  }

  .contenedor_productos {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .producto {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      div {
        display: flex;
        flex-direction: column;

        h3 {
          margin: 0;
          font-family: "Manrope", sans-serif;
          font-size: 14px;
          font-weight: 700;
          line-height: 22px;
          letter-spacing: 0em;
          text-align: left;
          color: #171a1f;
        }
        span {
          font-family: "Manrope", sans-serif;
          font-size: 12px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0em;
          text-align: left;
          color: #565e6c;
        }
      }
      h4 {
        font-family: "Manrope", sans-serif;
        font-size: 14px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: center;
        color: #171a1f;
      }

      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
    }
  }

  .otros_productos {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 77px;

    h3 {
      color: #0d554a;
      font-family: "Cormorant Garamond", serif;
      font-size: 40px;
      font-weight: 600;
      line-height: 56px;
      letter-spacing: 0em;
      text-align: left;
    }

    .cajon_titulo {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .boton_view_more {
        cursor: pointer;
        border: none;
        background-color: transparent;
        color: #565e6c;
        font-family: "Manrope", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: right;
      }
    }

    .productos {
      display: flex;
      flex-direction: row;
      gap: 20px;

      div {
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        box-shadow: 0px 0px 1px 0px#545454;

        img {
          border-radius: 8px 8px 0 0;
        }
      }

      h6 {
        margin: 0;
        font-family: "Cormorant Garamond", serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: left;
      }

      span {
        font-family: "Manrope", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;
      }
    }
  }

  .contacto {
    color: #ffffff;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    p {
      font-family: "Cormorant Garamond", serif;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: left;
    }

    p small {
      font-family: "Manrope", sans-serif;
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
    }
  }

  .menu {
    display: none;
  }

  .logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 150px;
  }

  .cajon-email {
    height: 35px;
    width: min-content;
    border: 1px solid white;
    border-radius: 18px;
    display: flex;
    flex-direction: row;
    input {
      width: auto;
      background-color: transparent;
      border: 0px;
    }

    .input-caja {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px;
    }
    button {
      width: auto;
      font-family: "Manrope", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: left;
      border: 0px;
      background-color: #f2c66d;
      border-radius: 0px 18px 18px 0px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.seccion_verde {
  color: white;
  display: flex;
  flex-direction: row;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #093931;
  padding-top: 60px;

  .primer_lado {
    margin: 30px;
    width: 40%;

    h2 {
      font-family: "Cormorant Garamond", serif;
      font-size: 48px;
      font-weight: 600;
      line-height: 68px;
      letter-spacing: 0em;
      text-align: left;
    }

    span {
      font-family: "Manrope", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0em;
      text-align: left;
    }
  }

  .segundo_lado {
    background-color: #171a1f4d;
    display: flex;
    flex-direction: row;
    width: 60%;
    border-radius: 8px;

    img {
      border-radius: 8px 0 0 8px;
    }

    div {
      margin: 50px 30px;

      span {
        font-family: "Manrope", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;
      }
      h3 {
        font-family: "Manrope", sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
      }
      h4 {
        font-family: "Manrope", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;
      }
    }
  }
}

footer {
  background-color: #093931;
}
footer .primer-cajon {
  display: flex;
  flex-direction: row;
  padding-left: 100px;
  padding-right: 100px;

  .caja-contacto {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
  }
  .parte-uno {
    display: flex;
    flex-direction: row;
    width: 50%;

    .nombre {
      width: 300px;
      display: flex;
      margin-top: 50px;
      h1 {
        color: #f5d38e;
        font-family: Cormorant Garamond;
        font-size: 30px;
        font-weight: 400;
        line-height: 46px;
        letter-spacing: 0em;
        text-align: left;
      }
    }

    div p {
      color: #ffffff;
    }
    .links {
      gap: 60px;
      display: flex;
      width: 577px;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }
}

.contacto {
  color: #ffffff;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  p {
    font-family: "Cormorant Garamond", serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
  }

  p small {
    font-family: "Manrope", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.menu {
  display: none;
}

.logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 150px;
}

.cajon-email {
  height: 35px;
  width: min-content;
  border: 1px solid white;
  border-radius: 18px;
  display: flex;
  flex-direction: row;
  input {
    width: auto;
    background-color: transparent;
    border: 0px;
  }

  .input-caja {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
  }
  button {
    width: auto;
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    border: 0px;
    background-color: #f2c66d;
    border-radius: 0px 18px 18px 0px;
    &:hover {
      cursor: pointer;
    }
  }
}

.padding-custome2 {
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
}
